<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
</head>
<body>
    <%- include ('../partials/_navbar.ejs') %>
    <h1>My Pantry</h1>
    <% if (pantry.length !== 0) { %>
        <ul>
            <% pantry.forEach(item => { %>
                <li><%= item.name %></li>
                <form action="/users/<%= user._id%>/foods/<%= item._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
                <a href="/users/<%= user._id%>/foods/<%= item._id %>/edit">Edit</a>
            <% }) %>
        </ul>   
    <% } else { %>
        <p>There are no items in your pantry!</p>
    <% } %>
    <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
</body>
</html>