<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= recipe.name %></title>
</head>
<body>
    <%- include ('../partials/_navbar.ejs') %>
    <h1><%= recipe.name %></h1>
    <h3>Instructions:</h3>
    <p><%= recipe.instructions %></p>
    <a href="/users/<%= user._id%>/recipes/<%= recipe._id %>/edit">Edit</a>
    <form action="/users/<%= user._id%>/recipes/<%= recipe._id%>?_method=DELETE" method="POST"><button>Delete recipe</button></form>
</body>
</html>